.chat-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.chat-window {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  padding: 1.25rem;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  scroll-behavior: smooth;
}
