.sidebar-container {
  width: 15.625rem;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  color: #fff;
  flex: 0 0 15.625rem;
  border-right: 0.0625rem solid #fff;
  height: 100vh;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}

.icon-left,
.icon-right {
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
}

.icon-left {
  margin-left: 0.625rem;
}

.icon-right {
  margin-right: 0.625rem;
}

/* Informações do usuário */
.user-info {
  text-align: center;
  margin-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid #3a3a3a;
}

.user-avatar {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.25rem solid black;
}

.btn-gerenciar {
  margin-top: 0.625rem;
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: #313131;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
}

.menu {
  max-height: 25rem;
  overflow-y: auto;
  padding-right: 0.625rem;
}

.submenu,
.sub-submenu {
  max-height: 12.5rem;
  overflow-y: auto;
}

.menu::-webkit-scrollbar,
.submenu::-webkit-scrollbar,
.sub-submenu::-webkit-scrollbar {
  width: 0.375rem;
}

.menu::-webkit-scrollbar-thumb,
.submenu::-webkit-scrollbar-thumb,
.sub-submenu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.375rem;
}

.menu::-webkit-scrollbar-thumb:hover,
.submenu::-webkit-scrollbar-thumb:hover,
.sub-submenu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Estilos para listas */
.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  display: flex;
  margin: 0.3125rem 0;
  cursor: pointer;
}

.menu ul li:hover {
  text-decoration: underline;
}

.menu ul li ul {
  margin-left: 0.9375rem;
  padding-left: 0.625rem;
  border-left: 0.0625rem solid #555;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.submenu {
  list-style: none;
  margin-left: 1.25rem;
  padding-left: 0.625rem;
  border-left: 0.125rem solid #555;
}

.sub-submenu {
  list-style: none;
  margin-left: 2.5rem;
  padding-left: 0.625rem;
  border-left: 0.125rem solid #777;
}

.sub-submenu li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

li img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
