.top-bar {
  background-color: #3a3a3a;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #555;
  width: 100%; /* Define um tamanho fixo */
  max-width: 1200px; /* Opcional: Define um limite máximo */
  margin: 0 auto; /* Centraliza na tela */
  opacity: 100%;
}

.logo_top {
  width: 60px;
  height: auto;
}
