.painel {
  flex: 1;
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
}

.usuarios-container h4 {
  margin-bottom: 20px;
  text-align: center;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filtros select,
.filtros input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  background-color: #444;
  color: white;
  border: 1px solid #666;
}

.filtros input::placeholder {
  color: #aaa;
}

.usuarios-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}
