.usuarios-container {
  background-color: #3a3a3a;
  min-height: 80vh;
  color: #fff;
}

.usuarios-container h4 {
  margin-top: 2rem;
  text-align: center;
}

.custom-input {
  background-color: #313131;
  color: #ffffff;
  border: none;
  box-shadow: none;
}

.custom-input::placeholder {
  color: #ccc;
}

.custom-input:focus {
  border: 1px solid #BB9149;
  box-shadow: none;
  background-color: #313131;
  color: #ffffff;
}

.input-group-text {
  background-color: #313131;
  color: #fff;
  border: none;
}
